.*
# you can add exceptions like in .gitignore to maintain a whitelist:
# e.g.
!.babelrc
!.eslintrc
!.prettierrc.json
!.prettierignore
!.eslintignore
!.stylelintrc

# do not copy over node_modules we will run `pnpm install` anyway
node_modules
website
jest
docs
contrib
docker-examples
website
systemd

# output from test runs and similar things
*.log
coverage/
.vscode/

# IDE config files
jsconfig.json
*.iml

# let's not get too recursive ;)
Dockerfile*
docker-compose*.yaml
